.trip {
    position: relative;
    background-color: #94b7ef;
    padding: 30px 20px 20px 20px;
    margin: 20px 30px;
    border-radius: 20px;
    min-height: 120px;
    color: #223f61;

}

.th {
    font-family: "Century Gothic Bold", serif;
}

.containerButtonCancel {
    display: flex;
    flex-direction: column;
    gap: 10px
}

#buttonCancel {
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: #223f61;
    border: none;
    font-size: small;
}

.status {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.status_item {
    position: absolute;
    top: -23px;
    right: 20px;
    padding: 5px 10px;
    border-radius: 15px 15px 0 0;
    background-color: #223f61;
    color: white;
    font-size: 9px;
    max-width: 110px;
}

.status_item::before {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    margin-right: 8px;
}
.status_item[data-status="Поиск"]::before {
    background-color: #ff8607; /* Цвет для статуса "поиск" */
}

.status_item[data-status="Принят"]::before {
    background-color: #3fff00; /* Цвет для статуса "принят" */
}

.status_item[data-status="Ожидает"]::before {
    background-color: #3fff00; /* Цвет для статуса "ожидает" */
}

.status_item[data-status="Завершен"]::before {
    background-color: #656464; /* Цвет для статуса "завершен" */
}